/* insira seus estilos aqui */

.estilo1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blue;
}

.estilo2 {
    font-family: 'Courier New', Courier, monospace;
    background-color: yellow;
}